p chat
for sentence in chat
  p=sentence
form.ask_a_question(action="",method="POST")
  a.ask Say something
  fieldset.answer
    textarea(type="text",placeholder="Enter your question",name="Message")
    button.button(type="submit") Say
script(src=versionPath('/js/visitor.js'), language='javascript', type='text/javascript')